.div2 {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    border: 1px solid #ced4d9;
    border-radius: 8px;
    margin-top: 40px;
    text-align: center;
}
.p1{
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}
.p2{
    font-size: 15px;
    font-style: normal;
}

.page-header {
    text-align: center;
    padding: 20px;
}
