<mat-nav-list>
    <a  mat-list-item routerLink="/degreecertificate" (click)="onsidenavClose()">
        <span class="nav-caption">Degree certificate</span>
    </a>
    <a  mat-list-item routerLink="/results" (click)="onsidenavClose()">
        <span class="nav-caption">Results</span>
    </a>
    <a  mat-list-item routerLink="/transcript" (click)="onsidenavClose()">
        <span class="nav-caption">Transcript</span>
    </a>
    <a  mat-list-item routerLink="/payment" (click)="onsidenavClose()">
        <span class="nav-caption">Payment</span>
    </a>

</mat-nav-list>

<router-outlet></router-outlet>
